mat-toolbar {
  height: 66px !important;
  min-height: 66px !important;
  background-color: #fff !important;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 10%);
  color: #263238 !important;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  img {
    height: 90%;
    padding: 0 10px;
    width: 146px;
    background-color: transparent;
    cursor: pointer;
  }
  mat-toolbar-row {
    padding: 0;
    height: 66px !important;
    background-color: inherit;
  }
  button {
    padding: 0 0 0 0px;
    cursor: pointer;
  }
  a {
    &.active {
      color: #c62828;
    }
  }
}

/* toolbar settings */
.spacer-toolbar {
  flex: 1 1 auto;
}
